$textPrimary: #f9f9f9;
$textSecondary: #585858;

$primaryGreen: #3fb238;

$bgDark: #1c1c1c;
$bgDarkSecondary: #313131;
$bgDarkTertiary: #464646;
$bgTransparent: #1c1c1c8c;

$boxShadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
