.home {
  max-width: 64rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 5%;
  padding: 0 1rem 2rem 1rem;
}
