@import "../../styles/variables.scss";

@import "../../styles/mixins.scss";

.character {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;

  &Head {
    padding: 0 1rem;
    width: 100%;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &Img {
      border-radius: 1rem;
      max-width: 85%;
    }

    &Data {
      width: 15rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &Icon {
        @include favoriteIconStyle();
      }
    }
  }

  &Body {
    background-color: $bgDarkSecondary;
    width: 100%;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &About {
      border-radius: 0.75rem;
      background-color: $bgDarkTertiary;
      box-shadow: $boxShadown;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p {
        padding-left: 1rem;

        span {
          color: $primaryGreen;
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  .characterBody {
    flex-direction: row;
    justify-content: space-between;

    &About {
      width: 50%;
    }
  }
}
