@import "../../styles/variables.scss";

.backHome {
  text-decoration: none;
  padding: 0.75rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  &Arrow {
    color: $primaryGreen;
    font-size: 2rem;
  }
}
